footer.footer
  .container
    .content
      .columns.has-text-centered
        .column.has-text-left-desktop.is-four-fifths.is-size-7
          p
            a(href='') Strata Portal Home
            a(href='') Login
            a(href='') Register
            a(href='') Terms and Conditions
            a(href='') Privacy Policy
            a(href='') Contact Us
          //- p
          small v 18.02 Build 20180221
        //- column
        .column.has-text-right-desktop
          img(src='assets/images/logo-piq.png', alt='Corelogic', width='150')
        //- column
      //- columns
    //- content
  //- container
//- footer
